version: '3.8'

# This file only defines shared overlay networks. The empty 'services' key
# is a workaround to ensure that 'docker stack deploy' processes the file
# and creates the networks, as it would otherwise do nothing.
services: {}