# Segredos do stack 01-traefik
# htpasswd -nB admin
traefik_basicauth: 'admin:$2y$05$Oi938xgiKuRIORHWv1KuBuGASePs1DjtNV3pux86SgOj.7h47W66u'

# Segredos do stack 02-monitoring
slack_api_url: "https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX"

# Segredos do stack wordpress-mysql
mysql_root_password: "my_db_root_password"
wordpress_db_password: "my_wp_password"

# Segredos do stack nextcloud-postgres-redis
postgres_password: "my_pg_password"
nextcloud_admin_password: "my_nc_password"

# Segredos do stack rocketchat-mongodb
mongodb_password: "my_mongo_password"
mongodb_key_string: "my_mongo_key_string"

# Segredos do stack minio
minio_root_password: "my_minio_password"